body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background: #fff;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* footer */

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
    color: #222222;
}

.f-info {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 8rem;
    background-color: #ebebeb;
}

.f-info-links,
.f-info-social,
.f-info-brand {
    width: 100%;
    display: center;
    align-items: center;
    justify-content: center;
}

.f-info-social i {
    margin-right: .5rem;
    margin-left: .5rem;
    font-size: 1.2rem;
}


.listing-card {
    border-radius: 20px !important;
    overflow: hidden;
}

.listing-card:hover {
    opacity: 1.2;
    background-color: #ebebeb;
}

.listing-card img {
    border-radius: 20px 20px 0 0 !important;
    display: block;
}


.card-img-top {
    height: 180px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.listing-link {
    text-decoration: none;
    color: #222222;
}

.listing-link:hover {
    color: #222222;
}

.addbtn {
    background-color: #fe424d !important;
    border: none !important;

}